<md-dialog aria-label="Edit Event" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Event</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-font-set="md">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-content layout-padding>
                <div>
                    <form name="userForm">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Event Name</label>
                                <input ng-model="currentEvent.name">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Category</label>
                                <md-select ng-model="currentEvent.category">
                                    <md-option ng-repeat="category in ['Breakfast w/CEO', 'Discover Week', 'Corporate Events']">
                                        {{category}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <mdp-date-picker mdp-placeholder="Date" ng-model="currentEvent.date"></mdp-date-picker>
                            <mdp-time-picker mdp-placeholder="Time" ng-model="currentEvent.time"></mdp-time-picker>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button aria-label="Finished" ng-click="ctrl.finish($event)">Done</md-button>
    </md-dialog-actions>
</md-dialog>
