<div id="navbar">
    <div ng-include="'./views/app/navbar/navbar.html'"></div>
</div>
<md-content>
    <div layout="row" layout-align="start center" class="content-header" flex>
        <div layout="column">
            <h1>Stats Dashboard</h1>
            <h4><strong>{{guests.length}}</strong> Guests</h4>
        </div>

        <span flex></span>

        <div layout="row" layout-align="start center">
            <mdp-date-picker name="date" mdp-placeholder="Filter From" mdp-open-on-click ng-model="filters.end_date"></mdp-date-picker>
            <mdp-date-picker name="date" mdp-placeholder="Filter To" mdp-open-on-click ng-model="filters.end_date"></mdp-date-picker>

            <div layout="column" layout-align="end center">
                <b>Mode</b>
                <md-radio-group ng-model="valueMode">
                    <md-radio-button value="absolute">#</md-radio-button>
                    <md-radio-button value="percentage">%</md-radio-button>
                </md-radio-group>
            </div>
        </div>
    </div>

    <md-divider></md-divider>

    <div class="md-padding" layout="row" layout-wrap>
        <md-card md-theme-watch flex="45">
            <md-card-header>
                <md-card-avatar>
                    <md-icon md-font-set="md">work</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Top Industry</span>
                    <span class="md-subhead">Students Participation (#)</span>
                </md-card-header-text>
            </md-card-header>
            <nvd3 options="options.industry_abs" data="data.industry_abs"></nvd3>
        </md-card>
        <md-card md-theme-watch flex="40">
            <md-card-header>
                <md-card-avatar>
                    <md-icon md-font-set="md">work</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Top Industry</span>
                    <span class="md-subhead">Students Participation (%)</span>
                </md-card-header-text>
            </md-card-header>
            <nvd3 options="options.industry_percentage" data="data.industry_percentage"></nvd3>
        </md-card>
        <div layout="column" flex>
            <md-card md-theme-watch style="width: 100%">
                <md-card-title>
                    <md-card-title-text>
                        <h1 style="font-size: 50px; text-align: center">12</h1>
                        <h3 style="text-align: center">INDUSTRIES</h3>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card md-theme-watch style="width: 100%">
                <md-card-title>
                    <md-card-title-text>
                        <h1 style="font-size: 50px; text-align: center">25</h1>
                        <h3 style="text-align: center">COMPANIES</h3>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="md-padding" layout="row" layout-wrap>
        <md-card md-theme-watch flex="45">
            <md-card-header>
                <md-card-avatar>
                    <md-icon md-font-set="md">date_range</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Monthly Attendance</span>
                    <span class="md-subhead">Students Participation (#)</span>
                </md-card-header-text>
            </md-card-header>
            <nvd3 options="options.time" data="data.time"></nvd3>
        </md-card>
        <md-card md-theme-watch flex="40">
            <md-card-header>
                <md-card-avatar>
                    <md-icon md-font-set="md">flag</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Top Countries</span>
                    <span class="md-subhead">Students Participation (%)</span>
                </md-card-header-text>
            </md-card-header>
            <nvd3 options="options.countries" data="data.countries"></nvd3>
        </md-card>
        <div layout="column" flex>
            <md-card md-theme-watch style="width: 100%">
                <md-card-title>
                    <md-card-title-text>
                        <h1 style="font-size: 50px; text-align: center">12</h1>
                        <h3 style="text-align: center">INDUSTRIES</h3>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card md-theme-watch style="width: 100%">
                <md-card-title>
                    <md-card-title-text>
                        <h1 style="font-size: 50px; text-align: center">25</h1>
                        <h3 style="text-align: center">COMPANIES</h3>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>



</md-content>
