<div id="navbar" ng-controller="NavBarController as ctrl">
   <div ng-include="'./app/views/navbar.html'"></div>
</div>

<md-content>
    <div layout="row" class="relative" layout-fill role="main">

        <div flex="100" flex-gt-sm="25" ng-if="showEventListMobile()" ng-cloak class="virtualRepeatdemoDeferredLoading">

        <div layout="row" layout-align="center center">
            <md-input-container id="eventSearchBar" md-no-float class="md-block searchEventsBar">
                <md-icon md-font-set="md">search</md-icon>
                <input ng-model="filterEvent" type="text" placeholder="Search">
            </md-input-container>
<!--             <md-button class="md-icon-button filterEventsButton" aria-label="Filter">
                <md-icon md-font-set="md">filter_list</md-icon>
                <md-tooltip hide-xs hide-sm md-direction="bottom">
                    Filter
                </md-tooltip>
            </md-button> -->
            <md-menu>
                <md-button class="md-icon-button filterEventsButton" aria-label="Filter" ng-click="openSortEventMenu($mdOpenMenu, $event)">
                    <md-icon md-font-set="md">sort_by_alpha</md-icon>
                    <md-tooltip hide-xs hide-sm md-direction="bottom">
                        Sort
                    </md-tooltip>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="sortEvents('date' , 0)">
                            <md-icon md-font-set="md">arrow_drop_up</md-icon>
                            <md-icon md-font-set="md">date_range</md-icon>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="sortEvents('date' , 1)">
                            <md-icon md-font-set="md">arrow_drop_down</md-icon>
                            <md-icon md-font-set="md">date_range</md-icon>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="sortEvents('name' , 0)">
                            <md-icon md-font-set="md">arrow_drop_up</md-icon>
                            A-Z
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="sortEvents('name' , 1)">
                            <md-icon md-font-set="md">arrow_drop_down</md-icon>
                            Z-A
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
            <md-virtual-repeat-container class="vertical-container" ng-style="getEventRepeaterHeight()">
                <md-list ng-cloak>

                    <md-list-item class="md-3-line repeated-item" md-virtual-repeat="event in events | filter:filterEvent | orderBy:sortEvent:sortEventReverse" ng-click="selectEvent(event)">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{event.name}}</h3>
                            <h4>{{event.guest_count}} Guests</h4>
                            <p>{{event.date_formatted}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-virtual-repeat-container class="vertical-container">
        </div>
        <md-divider></md-divider>

        <div flex="100" flex-gt-sm="75" ng-if="showGuestListMobile()" class="eventDetailBackground">

            <div ng-if="currentEvent.id">

                <div id="eventHeader" layout="row" class="eventDescription" layout-align="center center" flex>
                    <div layout="column" flex="50">
                        <h1>{{currentEvent.name}}</h1>
                        <h4><strong>{{currentEvent.guest_count}}</strong> Guests</h4>
                        <p hide-xs hide-sm>Date: {{currentEvent.date_formatted}}</p>
                    </div>
                    <div layout="row" layout-align="end center" flex="50">
                        <md-input-container hide-sm hide-xs md-no-float class="md-block filterGuestsBar">
                            <md-icon md-font-set="md">search</md-icon>
                            <input ng-model="filterGuest" type="text" placeholder="Search">
                        </md-input-container>
                        <md-button class="md-icon-button" aria-label="Add" ng-click="openGuestDialog($event)">
                            <md-icon md-font-set="md">add</md-icon>
                            <md-tooltip hide-xs hide-sm md-direction="bottom">
                                Add Guest
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Edit" ng-click="null">
                            <md-icon md-font-set="md">file_download</md-icon>
                            <md-tooltip hide-xs hide-sm md-direction="bottom">
                                Export CSV
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Edit" ng-click="openEventDialog($event)">
                            <md-icon md-font-set="md">mode_edit</md-icon>
                            <md-tooltip hide-xs hide-sm md-direction="bottom">
                                Edit Event
                            </md-tooltip>
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>


                <div ng-show="loadingGuests" layout="row" layout-align="center center" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div ng-show="!loadingGuests" class="virtualRepeatdemoDeferredLoading">
                    <md-virtual-repeat-container class="vertical-container" ng-style="getEventGuestRepeaterHeight()">
                    <md-list ng-cloak>
                        <div class="repeated-item" md-virtual-repeat="guest in currentGuests | filter:filterGuest" ng-cloak>


                        <!-- <div ng-repeat="guest in currentGuests" ng-cloak> -->


                            <md-grid-list
                                    md-cols-xs="4" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="4"
                                    md-row-height-gt-md="25px" md-row-height="25px"
                                    md-gutter="12px" md-gutter-gt-sm="8px">

                                <md-grid-tile class="eventGuest"
                                    md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
                                    <div layout="column" layout-align="center start" class="eventGuestId">
                                        <h4><strong>{{guest.slug}}</strong></h4>
                                    </div>
                                    <div layout="column" layout-align="center start">
                                        <h4><strong>{{guest.name}}</strong></h4>
                                        <h5 hide-xs hide-sm>{{guest.email}}</h5>
                                    </div>

                                </md-grid-tile>
                                <md-grid-tile class="eventButtons"
                                    md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
                                        <div layout="row" layout-align="end center">
                                        <md-button ng-show="!guest.check_in" class="md-icon-button" aria-label="Check In" ng-click="checkInGuest(currentEvent, guest)" layout="row" layout-align="end center">
                                            <md-icon md-font-set="md">check_circle</md-icon>
                                            <md-tooltip hide-xs hide-sm md-direction="bottom">
                                                Check In Guest
                                            </md-tooltip>
                                        </md-button>
                                        <md-button ng-show="guest.check_in" class="md-icon-button" aria-label="Check Out" ng-click="checkInGuest(currentEvent, guest)" layout="row" layout-align="end center">
                                            <md-icon class="checkInButton" md-font-set="md">check_circle</md-icon>
                                            <md-tooltip hide-xs hide-sm md-direction="bottom">
                                                Check Out Guest
                                            </md-tooltip>
                                        </md-button>
                                        <md-button class="md-icon-button" aria-label="Delete" ng-click="showRemoveGuest($event, currentEvent, guest)" layout="row" layout-align="end center">
                                            <md-icon md-font-set="md">remove_circle</md-icon>
                                            <md-tooltip hide-xs hide-sm md-direction="bottom">
                                                Remove Guest
                                            </md-tooltip>
                                        </md-button>
<!--                                         <md-button class="md-icon-button" aria-label="More" ng-click="null" layout="row" layout-align="end center">
                                            <md-icon md-font-set="md">more_horiz</md-icon>
                                            <md-tooltip md-direction="bottom">
                                                More
                                            </md-tooltip>
                                        </md-button> -->
                                    </div>
                                </md-grid-tile>
                            </md-grid-list>


                        </div>
                    </md-list>
                    </md-virtual-repeat-container>
                </div>


            </div>
            <div ng-if="!currentEvent.id" layout="column" layout-align="center center" style="color: #888; padding-top: 50px">
                <h2>Please select an event,</h2>
                <h2>or create a new one <a href="" ng-click="openEventDialog($event, 1)">here</a></h2>
            </div>
        </div>
    </div>
</md-content>
