<div id="navbar" ng-controller="NavBarController as ctrl">
    <div ng-include="'./app/views/navbar.html'"></div>
</div>
<md-content>
    <div id="guestListHeader" layout="row" layout-align="center center" class="eventDescription" flex>
        <div layout="column" flex="50">
            <h1>Guest Main List</h1>
            <h4><strong>{{guests.length}}</strong> Guests</h4>
        </div>

        <div layout="row" layout-align="end center" class="eventButtons" flex="50">
            <md-input-container hide-xs md-no-float class="md-block filterGuestsBar">
                <md-icon md-font-set="md">search</md-icon>
                <input ng-model="filterGuest" type="text" placeholder="Search">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="Add" ng-click="openGuestEditDialog($event, 1)">
                <md-icon md-font-set="md">add</md-icon>
                <md-tooltip md-direction="bottom">
                    Add Guest
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Upload" ng-click="null" layout="row" layout-align="end center">
                <md-icon md-font-set="md">file_upload</md-icon>
                <md-tooltip md-direction="bottom">
                    Upload CSV
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Download" ng-click="null">
                <md-icon md-font-set="md">file_download</md-icon>
                <md-tooltip md-direction="bottom">
                    Export CSV
                </md-tooltip>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>
    <md-list-item id="guestTableHeader">
        <div class="md-list-item guestList" layout="row" layout-align="start center">
            <span flex-gt-sm="10" flex-xs="30" flex-sm="20">ID</span>
            <span flex-gt-sm="50" flex-xs="70" flex-sm="60">Name</span>
            <span flex-gt-sm="40" hide-xs flex-sm="20">Degree</span>
<!--         <md-icon class="md-secondary" ng-click="null" md-font-set="md">null</md-icon>
        <md-icon class="md-secondary" ng-click="null" md-font-set="md">null</md-icon> -->
        </div>
        <div class="_md-secondary-container" style="width: 98px;"></div>
    <!-- <div ></div> -->
    </md-list-item>
    <div layout="column">
        <div ng-cloak class="virtualRepeatdemoDeferredLoading">
            <md-virtual-repeat-container class="vertical-container" ng-style="getGuestRepeaterHeight()">
                <md-list ng-cloak>
                    <md-list-item md-virtual-repeat="guest in guests | filter:filterGuest" class="repeated-item" ng-click="openGuestEditDialog($event, 0, guest)">
                        <div class="md-list-item guestList" layout="row" layout-align="start center">
                            <span flex-gt-sm="10" flex-xs="30" flex-sm="20">{{guest.slug}}</span>
                            <span flex-gt-sm="50" flex-xs="70" flex-sm="60">{{guest.name}}</span>
                            <span flex-gt-sm="40" hide-xs flex-sm="20">{{guest.degree}}</span>
                            <md-icon class="md-secondary" aria-label="Edit Guest" ng-click="openGuestEditDialog($event, 1, guest)" md-font-set="md">mode_edit</md-icon>
                            <md-icon class="md-secondary" aria-label="Delete" ng-click="showDeleteGuest($event, guest)" md-font-set="md">delete</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </md-virtual-repeat-container>
        </div>
    </div>
</md-content>
