<div ng-cloak style="margin:auto">
    <!-- <md-content> -->
        <div style="background:#009FE3; height:20%"></div>
        <div layout="row" layout-align="center center">
            <div class="loginArea" layout="column" layout-align="center center">
<!--                 <md-card>
                    <img ng-src="/app/assets/novasbe_logo.png" class="md-card-image" alt="Nova SBE" style="width:10%">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Action buttons</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button>Action 1</md-button>
                        <span flex></span>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>
 -->
                <img class="loginImage" ng-src="/app/assets/novasbe_logo.png" class="md-card-image" alt="Nova SBE">
                <h3>Login to Check-In Manager</h3>
                <form name="loginForm" class="loginForm" ng-submit="loginForm.$valid && performLogin()">
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon md-font-set="md">email</md-icon>
                        <input md-no-asterisk required name="email" ng-model="credentials.email" ng-pattern="/^.+@.+\..+$/"/>
                        <div ng-messages="loginForm.email.$error">
                            <div ng-message="pattern">This is not a valid email address.</div>
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon md-font-set="md">lock</md-icon>
                        <input type="password" md-no-asterisk required name="password" ng-model="credentials.password">
                        <div ng-messages="loginForm.password.$error">
                            <div ng-message="pattern">Password has to be at least 6 characters long.</div>
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container ng-if="register" class="md-icon-float md-block">
                        <label>Confirm Password</label>
                        <md-icon md-font-set="md">lock_outline</md-icon>
                        <input type="password" md-no-asterisk required name="password" ng-model="credentials.confirm_password">
                        <div ng-messages="loginForm.confirm_password.$error">
                            <div ng-message="pattern">Passwords dont' match.</div>
                        </div>
                    </md-input-container>

                    <md-button class="md-raised md-primary loginButton" type="submit" aria-label="Login">{{ loginText }}</md-button>
                </form>
                <p ng-show="!register">No account yet? Create one <a href="#/signup">here</a></p>
            </div>

        </div>
    <!-- </md-content> -->
</div>
