.edit-menu {
    margin-top: 0px;
    margin-bottom: 0px;
}

.delete-icon {
    color: #DD2C00;
}

.edit-menu-dialog {
    max-width: 400px;
    width: 75%;
}

.edit-model-dialog {
    width: 80%;
    max-width: 600px;
}

.mobile-dialog-checkin {
    max-height: 100%;
    height: 100%;
}

.mobile-close-button {
    margin-top: -58px !important;
}

.mobile-form {
    padding-right: 25px;
}

.desktop-dialog-checkin {
    max-width: 400px;
}

.check-in-autocomplete input {
    font-size: 16px !important;
}
