.edit-menu {
    margin-top: 0px;
    margin-bottom: 0px;
}

.delete-icon {
    color: #DD2C00;
}

.edit-menu-dialog {
    max-width: 400px;
    width: 75%;
}

.edit-model-dialog {
    width: 80%;
    max-width: 600px;
}
