<md-dialog class="edit-model-dialog" aria-label="Upload Guests" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Upload Guests</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-font-set="md">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="uploadForm" ng-submit="ctrl.uploadGuestCSV($event)">
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <div>
                        <div layout="row">
                            <div
                                class="btn btn-primary btn-upload"
                                upload-button
                                param="file"
                                url="/api/v1/guests/load"
                                on-upload="onUploadStarted(response)"
                                on-success="onUploadSuccess(response)"
                                on-error="onUploadError(response)">
                            </div>
                        </div>
                        <div layout="row">
                            {{ loadedGuests }}
                        </div>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
<!--             <md-button ng-if="currentGuest.id && hasAdminAccess()" class="md-raised md-warn" aria-label="Delete" ng-click="showDeleteGuest($event, currentGuest)">Delete Guest</md-button>
            <span flex></span> -->
            <md-button type="submit" aria-label="Finished">Done</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
