<md-dialog aria-label="Guest Check In" class="desktop-dialog-checkin" ng-cloak flex="80" flex-gt-sm="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Guest Check in</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-font-set="md">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content check-in-form">

            <form ng-submit="$event.preventDefault()">
                <p>Enter Guest ID / Name / Email.</p>
                <md-autocomplete
                    id="guest_checkin"
                    md-autofocus
                    md-no-cache=0
                    md-selected-item="selectedItem"
                    md-search-text="searchGuest"
                    md-selected-item-change="selectedItemChange(item)"
                    md-items="item in searchGuests(searchGuest)"
                    md-item-text="item.slug"
                    placeholder="nb12345, John Smith...">
                    <md-item-template>
                        <span md-highlight-text="searchGuest" md-highlight-flags="^i">{{ isGuestCheckedInStr(item) }}{{item.slug}} - {{item.name}}</span>
                    </md-item-template>
                </md-autocomplete>
                <br/>
            </form>
            <p ng-if="checkInStatus" layout="row" layout-align="center center" class="success">
                {{checkInStatus}}
            </p>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button aria-label="Done" ng-click="ctrl.finish($event)">Done</md-button>
    </md-dialog-actions>
</md-dialog>
