<md-toolbar>
    <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-font-set="md">menu</md-icon>
        </md-button> -->
        <md-button class="md-icon-button" aria-label="Back" ng-if="showGuestListMobile()" ng-click="uncheckCurrentEvent()">
            <md-icon md-font-set="md">chevron_left</md-icon>
        </md-button>
        <h2>
            <span>Check In Manager</span>
        </h2>
        <span flex></span>
        <!-- <md-button class="md-icon-button" aria-label="Home" href="#/">
            <md-icon md-font-set="md">home</md-icon>
        </md-button> -->
        <md-button class="md-icon-button" aria-label="Users" href="#/stats">
            <md-icon md-font-set="md">insert_chart</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Users" href="#/guests">
            <md-icon md-font-set="md">group</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Events" href="#/events">
            <md-icon md-font-set="md">event</md-icon>
        </md-button>
    </div>
</md-toolbar>
